@use './fluid.scss';
@use './theme.scss';
@use './util.scss' as *;
@use './switzer.css';
@use './partials/navbar.scss';

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: var(--step-0);
	font-family: 'Switzer-Variable', sans-serif;
	line-height: 1.5;
	color: var(--fg);
	background-color: var(--bg);
}

a,
a:visited,
a:active {
	color: var(--anchor-color);
}
