@use 'switzer.css';

html,
body {
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Switzer-Variable', sans-serif;
}

a, a:visited {
	@apply text-blue-600;
}

*:focus-visible {
	outline: 4px dotted #ff2400;
}
