<link rel="shortcut icon" href="/favicon.png" type="image/png">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="generator" content="{{ eleventy.generator }}" />

<title>{{ title }}</title>

<link rel="stylesheet" href="{{ '/scss/main.scss' | url }}">
{# For per-page custom styles #}
{% block styles %}{% endblock %}
