<header>
    <nav>
        <a class="decoration-none" href="/" title="Go to homepage">
            <img src="/logo.svg" alt="Ixora logo" width="48" height="48" role="presentation">
        </a>
        <button class="sm:hidden toggle-links btn" title="Open menu">
            <div class="i-material-symbols:menu-rounded" aria-hidden></div>
        </button>
        <ul class="links">
            <li>
                <a href="/docs/">Docs</a>
            </li>
            <li>
                <a href="https://codeberg.org/retronav/ixora" title="Link to Git repository">
                    <div class="i-simple-icons:codeberg"></div>
                </a>
            </li>
            <li>
                <a href="https://npmjs.com/package/@retronav/ixora" title="Link to NPM package">
                    <div class="i-simple-icons:npm"></div>
                </a>
            </li>
        </ul>
    </nav>
</header>
