---
import Base from "./base.astro"
import '../styles/markdown.scss';
const { content } = Astro.props;
const docTitle = content.astro.headers.find(h => h.depth === 1)?.text
const title = `${docTitle} · Ixora docs`
---

<Base {title}>
<main>
    <slot />
</main>
</Base>

<style lang="scss">
    main {
        @apply m-4;
    }
</style>
